* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(/public/Assets/Fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: CrimsonText-Regular;
  src: url(/public/Assets/Fonts/CrimsonText-Regular.ttf);
}

@font-face {
  font-family: NomadaDidone-Regular;
  src: url(/public/Assets/Fonts/NomadaDidone-Regular.ttf);
}


