@font-face {
  font-family: Heading-Font;
  src: url(/public/Assets/Fonts/Countless.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(/public/Assets/Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(/public/Assets/Fonts/Poppins-Light.ttf);
}

:root {
  --main-bg: #14171a;
  --gray: #33333393;
  --light-gray: #494949b4;
  --font-main: Heading-Font;
  --font-regular-poppins: Poppins-Regular;
  --font-light-poppins: Poppins-Light;
  --bs-white: #fff;
  --bs-light: #f8f9fa;
  --bs-warning: #ffc107;
  --bs-secondary: #6c757d;
}

.hero{
  width: 100%;
  height: 700px;
  background-image: url(/public/Assets/img/Cappadocia_Turkey_Daniel_Sessler_6K\ \(2\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
