

.bg-body-tertiary-custom-class{
  background-color: #212121 !important;

}

/* toggler icon of bosstrap 5.3 removed default style */
.navbar-toggler {
  border: none;
  outline: none;
  background-color: transparent;

}

.navbar-toggler-icon {
  background-color: transparent;
  border: none;
}

.navbar-toggler-icon svg {
  fill: white;
  stroke: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
}

/* Underline of nav bar text */

.nav-link {
  position: relative;
}
.nav-link::before {
  content: " ";
  position: absolute;
  bottom: 0.5px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 0;
  height: 3px;
  border-radius: 0.1px;
  background-color: #f7f4f4;
  transition: width 0.3s ease-in-out; 
}

.nav-link:hover::before {
  width: 40px; 
}


