/* Remove any borders from the navbar-toggler and SVG */
.navbar-toggler {
  border: none;
  outline: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-color: transparent;
  border: none;
}

.navbar-toggler-icon svg {
  fill: white;
  stroke: none;
}

.navbar-toggler:focus {
  box-shadow: none !important; 
  border: none !important;
}

