@import "tailwindcss";

@font-face {
  font-family: "Redressed", sans-serif;
  font-style: normal;
  src: url("./assets/fonts/Redressed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSans3", sans-serif;
  font-style: normal;
  src: url("./assets/fonts/SourceSans3-Regular.ttf") format("truetype");
}

:root {
  --primary-gradient: linear-gradient(
    135deg,
    #6c3bff,
    #ba189a,
    #f4563a,
    #fa7444
  );
  --radial-purple-glow: radial-gradient(
    circle,
    oklch(0.541 0.281 293.009 / 0.28),
    transparent 70%
  );
  --secondary-gradient: linear-gradient(135deg, #a200ff, #fa7444);
  --vite-gradient: linear-gradient(
    135deg,
    #41d1ff 0%,
    #646cff 50%,
    #bd34fe 100%
  );



}

@theme {
  /* Colors */
  --color-bg-dark: #16171d;
  --color-primary-text: #ffffff;
  --color-secondary-text: #867e8e;
  --color-dark-borders: #3b3440;
  --color-light-borders: #e5e4e7;

  /* Purple Accent Hierarchy */
  --color-purple: #6c3bff;
  --color-lavender: #b39aff;
  --color-wine-purple: #140033;
  --color-nickel: #3b3440;
  --color-nickel: #3b3440;
  --color-hover-nickel: #4f4557d7;

  /* Font */
  --font-redressed: "Redressed", cursive;
  --font-SourceSans3: "SourceSans3";
}
