@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";




/* Custom colors */
:root {
  --black: #0f0f0f;
  --gray: #3f3f3f;
  --white: #fff;

}

@theme{
    --font-display: "Dancing Script", cursive;
    --font-secondary : "Montserrat", sans-serif;

}

body{
    background: #0f0f0f;
}

/* Custom Animations */
.border-blink {
  animation: blink 200ms ease-in-out 2s infinite linear normal;
}

/* Custom Shadow */
.custom-shadow {
  box-shadow: inset 1px -1px 5px black;
}

.corner-shapes {
  border-radius: 10px 10px 10px 10px;
  corner-shape: bevel scoop scoop bevel;
}





