@font-face {
  font-family: Heading-Font;
  src: url(/public/Assets/Fonts/Countless.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(/public/Assets/Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(/public/Assets/Fonts/Poppins-Light.ttf);
}

:root {
  --main-bg: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(40, 39, 39, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  --font-main: Heading-Font;
  --font-regular-poppins: Poppins-Regular;
  --font-light-poppins: Poppins-Light;
  --bs-white: #fff;
  --bs-light: #f8f9fa;
  --bs-warning: #ffc107;
  --bs-secondary: #6c757d;
}

.home-container {
  height: 45vw;
  width: 100%;
  background: var(--main-bg);
}
.main-Heading {
  width: 100%;
  height: 5rem;
  padding: 1rem 19rem;
  color: var(--bs-white);
}
.main-Heading h1 {
  font-size: 2vw;
  font-weight: 400;
  text-align: start;
  font-family: var(--font-main);
}
.main-Heading h1 span {
  color: var(--bs-warning);
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  padding: 1rem;
}

.card {
  width: 300px;
  height: 400px;
  background: var(--main-bg);
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  border-radius: 1em;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/*Image*/
.card-avatar {
  --size: 200px;
  background-image: url(https://thumbs.dreamstime.com/b/unknown-male-avatar-profile-image-businessman-vector-unknown-male-avatar-profile-image-businessman-vector-profile-179373829.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
}

/*Card footer*/
.card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-social__item {
  list-style: none;
}

.card-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: var(--bs-white);
  cursor: pointer;
  transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card-title h1 {
  color: var(--bs-white);
  font-size: 1.2em;
  font-weight: 400;
  line-height: 2rem;
  font-family: var(--font-regular-poppins);
}

.card-subtitle {
  color: var(--bs-white);
  font-size: 0.9em;
  font-family: var(--font-light-poppins);
}

/*Hover*/
.card:hover {
  box-shadow: 0 5px 5px var(--bs-light);
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
}

.card-social__item svg:hover {
  fill: var(--bs-warning);
  transform: scale(1.1);
}

.card-avatar:hover {
  transform: scale(1.5);
}

.card-1 {
  width: 30%;
  height: 25em;
  border-radius: 1rem;
  background: var(--main-bg);
  padding: 1rem;
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.1em;
  position: relative;
}
.card-1 .para1 {
  height: 3em;
  width: 100%;
  border-radius: 0.5em;
  text-align: center;
  padding: 0.5em;
  background: var(--bs-white);
}
.para1 p {
  font-size: 1.1em;
  font-family: var(--font-regular-poppins);
  font-weight: 800;
  color: var(--bs-secondary);
}
.card-1 i {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--bs-light);
  transition: all 200ms, opacity 0.2, ease-in;
}
.card-1 i:hover {
  color: var(--bs-secondary);
  background: var(--bs-white);
  border-radius: 50%;
  cursor: pointer;
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  gap: 1rem;
}

.bottom-container .bottom-dev-1 {
  height: 20em;
  width: 100%;
  border: 1px solid var(--bs-warning);
  background: var(--main-bg);
  border-radius: 1em;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  
}
.bottom-container .bottom-dev-1 h1{
  position: absolute;
  top: 3rem;
  margin-top: 1rem;
}

.bottom-dev-1 .info-card-1{
  width: 14rem;
  height: 15rem;
  background:var(--bs-white);
  border-radius: 0.5em;
}
.bottom-dev-1 .info-card-2{
  width: 10rem;
  height: 10rem;
  background: #000;
}
.bottom-dev-1 .info-card-3{
  width: 10rem;
  height: 10rem;
  background: #000;
}
.bottom-dev-1 .info-card-4{
  width: 10rem;
  height: 10rem;
  background: #000;
}





.bottom-container .bottom-dev-2 {
  height: 20em;
  width: 100%;
  border: 1px solid var(--bs-warning);
  background: var(--main-bg);
  border-radius: 1em;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}
.bottom-container .bottom-dev-2 h1{
  position: absolute;
  bottom: 3rem;

}
.bottom-dev-2 .skill-card-1{
  width: 10rem;
  height: 10rem;
  background: #000;
}
.bottom-dev-2 .skill-card-2{
  width: 10rem;
  height: 10rem;
  background: #000;
}
.bottom-dev-2 .skill-card-3{
  width: 10rem;
  height: 10rem;
  background: #000;
}
.bottom-dev-2 .skill-card-4{
  width: 14rem;
  height: 15rem;
  background: #000;
}