@font-face {
  font-family: Heading-Font;
  src: url(/public/Assets/Fonts/Countless.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(/public/Assets/Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(/public/Assets/Fonts/Poppins-Light.ttf);
}

:root {
  --main-bg: #14171a;
  --gray: #33333393;
  --light-gray: #494949b4;

  --font-main: Heading-Font;
  --font-regular-poppins: Poppins-Regular;
  --font-light-poppins: Poppins-Light;
  --bs-white: #fff;
  --bs-light: #f8f9fa;
  --bs-warning: #ffc107;
  --bs-secondary: #6c757d;
}
body {
  background: var(--main-bg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.my-work-text {
  font-size: 2.5rem;
  color: var(--bs-light);
  text-align: center;
  font-family: var(--font-main);
  font-weight: 400;
  margin-top: 1rem;
}
.project-text {
  font-size: 1.5rem;
  color: var(--bs-secondary);
  text-align: center;
  font-family: var(--font-main);
  font-weight: 400;
  margin-top: 1rem;
}
.work-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.work-card {
  width: 100%;
  height: 70dvh;
  margin: 2rem;
  border-radius: 1em;
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-main);
  color: var(--bs-secondary);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.svg-card {
  width: 100%;
  height: 70dvh;
  margin: 2rem;
  background-image: url(/public/Assets/svg/projects.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.my-project-text {
  text-align: center;
  font-size: 2rem;
  color: var(--bs-secondary);
  font-family: var(--font-main);
  margin: 1rem;
}

.work-card-container {
  width: 100%;
  height: 70dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.work-card-container .work-card-1 {
  width: 100%;
  height: 50dvh;
  margin: 1rem;
}

/* =============Swiper=============== */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  border-radius: 1em;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper_card {
  width: 100%;
  height: 100%;
 
  border-radius: 1em;
}
.card_title {
  width: 100%;
}
.card_title h1 {
  font-size: 1.5rem;
  font-family: var(--font-main);
  color: var(--bs-light);
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}
.card_img {
  margin-top: 1rem;
  width: 100%;
  height: 15rem;
  padding: 1em;
}
.card_img img {
  width: 100%;
  height: 100%;
}
.card_info {
  width: 100%;
  padding: 0.5rem;
}
.card_info p {
  color: var(--bs-light);
  font-size: 1em;
  text-align: center;
  font-family: var(--font-light-poppins);
  font-weight: 200;
}

.card_btn {
  width: 100%;
  height: 2rem;
  text-align: center;
}
.card_btn .btn {
  width: 20em;
  padding: 0.6em;
  background: var(--gray);
  color: var(--bs-warning);
  font-family: var(--font-main);
  font-size: 1em;
  border: 0;
  transition: all ease-in 200ms;
}
.card_btn .btn:hover {
  background: var(--bs-warning);
  color: var(--main-bg);
  cursor: pointer;
}
/*=========================== reviews section==============================*/
@media (max-width: 1440px){
    .main-wrapper{
        width: 100vw;
    }
}

.back-text{
    position: relative;
    z-index: -2000;
}


.reviews{
    margin-top: 5rem;
    overflow: hidden;
}

.reviews-title{
    text-align: center;
    margin-bottom: 7rem;
}

.reviews-title p{

    font-size: 2.5rem;
  color: var(--bs-secondary);
  text-align: center;
  font-family: var(--font-main);
  font-weight: 400;
  margin-top: 1rem;
}

.reviews-card{
    display: grid;
    grid-template-columns: 1fr 480px;
    width: 781px;
}

@media (max-width: 425px){
    .reviews-card{
        grid-template-columns: 1fr;
        width: fit-content;
    }
}
.card-img{
    width: fit-content;
    height: fit-content;
}

.card-text{
    background-color: white;
    padding: 2rem 4rem; 
    height: 359px;
    overflow: hidden;
}

@media (max-width: 425px){
    .card-text{
        padding: 1rem 2rem;
        width: 70vw;
        height: fit-content;
    }
}

.card-title p{
    font-weight: 800;
    font-size: 2rem;
    line-height: 105.52%;
}

.card-para{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.card-author{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}


.reviews-row{
    display: flex;
    gap: 2rem;
}

@media (max-width: 425px){
    .card-title p{
        font-weight: 700;
        font-size: 1rem;
    }

    .card-para p{
        font-size: 0.7rem;
    }

    .card-author p{
        font-size: 0.7rem;
    }
    .reviews-row{
        flex-direction: column;
        margin: 0 auto;
        width: fit-content;
    }
    .reviews img{
        width: 70vw;
    }
}

.row-first, .row-third{
    animation: move-first 20s linear infinite;
    margin-bottom: 2rem;
}

.row-second{
    transform: translateX(-1000px);
    animation: move-second 20s linear infinite;
    margin-bottom: 2rem;
}


@media (max-width: 425px){
    .row-second, .row-third{
        display: none;
    }

    .row-first{
        animation: none;
    }
}

@keyframes move-first{
    50%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes move-second{
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1000px);
    }
}

.button1 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #ffc107;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--bs-light);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  margin: 2rem;
  font-family: var(--font-main);
}

/* Buttons */
.button1:hover,
.button1:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
  cursor: pointer;
}

.button1:active {
  background: var(--color);
  color: #fff;
}
